@font-face { font-family: 'Offside', cursive; }

* {
  vertical-align:baseline;
  padding:0; margin:0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block }


body {
  font:16px/1.5 'Offside', cursive; 
  margin:0 auto; width:518px; padding:0 0 40px 40px; border-left:1px dashed #ddd;
  background:snow; color:#444;
}


body > article, body > section { margin-top:58px }

h1, nav, .archive a, .annotated a, .tags, footer {
  font-family: geneva, tahoma, helvetica, arial, sans-serif;
}

p { margin-bottom:1.5em; }

aside { margin-top:4em; padding-top:1.5em; border-top:1px dashed #ddd }
footer { margin:8em 0 1em; padding-top:2em; }
footer li { float:left; padding-left:185px }
footer li:first-child { padding-left:0 }

em { font-style:normal; text-shadow:0 0 1px #333 }
img { border:0 none }
.bordered { border:1px solid #ddd }
.fit { width:518px; display: block; }


/* headings */
h1 {
  font-weight:normal;
  color:#333;
}
body > h1 { display:none }
body > article > h1, body > section > h1, body > article > header h1 {
  font-size:30px; margin-bottom:43px; letter-spacing:1px;
}
body > article > section > h1, body > article > article > h1 {
  font-size:22px;
}
body > article > section > section > h1 {
  font-size:18px;
}
body > article > section h1, body > article > article h1 { margin:2em 0 1.5em }

/* links */
a { color:#D30E40; text-decoration:none; }
a:hover { text-decoration:underline; }

nav a, footer a, h1 a, h2 a { color:inherit; }
nav a:hover, footer a:hover, .projects a:hover, .archive a:hover { color:#D30E40 }
h1 a:hover, h2 a:hover, .archive a:hover, nav a:hover, footer a:hover { text-decoration:none }
header a:focus, header a:active, header a:visited { outline:0 none }

/* nav */
.top img, footer nav img { height:12px; padding-left: 3px; position:relative; top:1px }
.top { padding-top: 10px; }
.top li { display: inline-block; padding-right:42px; }
.top li:last-child { padding-right:0; }
.current span { padding-bottom: 5px; border-bottom: 1px solid #ddd; }

/* lists */
ul, ol { list-style:none inside; padding:0 }
li { line-height:1.5 }

.post ol, .post ul, .vcard ol, .vcard ul {
  margin:1.5em 0;
}
.post ol, .post ul {
  list-style-position:outside;
}
.post ol {
  list-style-type:decimal;
  padding-left:24px;
}
.post ul {
  list-style-type:square;
  padding-left:18px;
}

/* about */
.vcard .photo { float:left; height:200px }
.vcard li a {
  color: #333; background:#e7e7e7;
  display: block; height:26px;
  margin:1px 0;
}
.vcard li a, .tags li { border:1px solid #d9d9d9; border-radius:6px; }
.vcard li a:hover { background:#f5f5f2; margin-right:-5px; }
.vcard li a img {
  width:24px;
  float:left;
  margin:1px 10px 0 8px;
}
.vcard li a span {
  padding: 5px;
  display: block;
}

.tags { line-height:2; color: #9999A4 }
.tags strong { font-weight:normal; }
.tags li {
  display:inline;
  background:#f5f5f2;
  padding:3px 5px 2px;
  border-color:#eee;
}

/* projects */
.projects p { margin-bottom:1em; }
.projects a:active, a:visited { outline:0 none }

/* archive */
.archive ol { margin-top:-1em; }
.archive li { border-bottom:1px dashed #ddd; padding:1em 0; }
.archive a { color:#333; font-size:16px }
.archive time { float:right; }

/* post */
article header + p { margin-top:-1.5em }

article header time {
  display:block;
  position:relative; right:255px;
  width:200px; text-align:right;
}

code { font:15px courier, monospace;}
code, blockquote { color:#555 }
pre code, blockquote { background:#eee; border-radius:0 9px 9px 0; }
pre code {
  display:block;
  line-height:18px; white-space:pre-wrap;
  margin: -0.5em 1em 1.5em -40px;
  padding: 1em 1em 1em 40px;
}
blockquote { padding:0 9px 0 40px; margin:0 0 18px -40px }
blockquote p:first-child:before { content:'â€œ'; font-size:36px }
blockquote p:first-child { text-indent:-20px }
blockquote p:last-child { padding-bottom:18px }

.annotated ol { margin-top:-30px }
.annotated p, .annotated q { margin-top:3px }

.twitter a:hover { text-decoration:none }
.twitter q {
  background:#eee; color:#555;
  margin-left:-40px; padding:3px 7px 6px 40px;
  border-radius:0 9px 9px 0;
  text-indent:-13px; quotes:none;
}
.twitter q:before { content:'â€œ'; font-size:30px }
.twitter q:after { content:'' } /* Webkit */

/* photography */
.photography > h1 { float:left }
.photography ol { padding-top:8px; text-align: right; }
.photography ol img { width: 20px; }
.photography li { display:inline; margin-left:6px }
.photography p { clear:both; }

.photography article { margin-top:50px; }
.photography article h1 {
  font-size: 18px; font-variant: small-caps; text-transform: lowercase; letter-spacing: 2px; text-align:right;
  color: #444;
}

/* abstractions */
.top, .vcard li a, .tags small, .photography ol, footer { font-size:12px }
pre code, .annotated ol a, .tags, .gist { font-size:14px }
h1, a, .tags li { text-shadow: 1px 1px 1px #e4e4e4; }

/* post specific */
.i365 img { display:block; width:475px; margin:15px 0 25px; }
section.i365 { margin-bottom:-2em }


@media only screen and (max-device-width:480px) {
  body { font-size:14px; }
  body > article, body > section { margin-top:20px; }
  body > article > h1, body > section > h1, body > article > header h1 { margin-bottom:35px }
  .top, footer { font-size: 18px }
  .top li { padding-right:20px }

  article header time { top:12px }
  article header time, .archive time { font-size:20px }
  .archive time { padding-top:4px }
  footer li { padding-left:158px }

  .tags small { font-size:8px }
  .tags { font-size:9px }
  .tags strong { font-size:10px }

  .echoes .icon { top:46px;}
}
