<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="author" lang="pl" content="Wojtek Padula, wojtek@padula.me">
    <link rel="stylesheet" href="/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="/img/favicon.ico">
    <link href="http://feeds.feedburner.com/wpa" type="application/atom+xml" rel="alternate" title="Wojtek Padula | Homepage">

    <title>Home | Wojtek Padula</title>
    <meta name="description" content="Wojtek Padula -
    about and contact info">
  </head>

  <body>
    <h1>wojtek.padula.me</h1>

    <nav class="top">
      <ol>
        <li><a href="/">home</a></li>
        <li><a href="/blog">blog</a></li>
        <li><a href="mailto:wojtek@padula.me">contact <img src="/img/mails.jpg" alt="mail"></a></li>
      </ol>
    </nav>

{{ content }}

<footer>
      <nav>
        <ol>
          <li><a href="/">home</a></li>
          <li><a href="/archive">blog archive</a></li>
          <li><a href="http://feeds.feedburner.com/wpa">feed <img src="/img/feed.png" alt="feed"></a></li>
          <li><a href="http://validator.w3.org/check?uri=referer">Valid  HTML 5</a></li>
         <li><a href="http://no-www.org"><img src="http://no-www.org/images/blog-button.gif" alt="no-www"></a></li>
        </ol>
      </nav>
    </footer>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36355754-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


  </body>
</html>
